<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Suervy form </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<form action='/result' method='POST'>
      <div class="form-group col-md-4">
        <label for="uname">Your name</label>
        <input type="text" class="form-control" name="name" placeholder="Name">
      </div>

      <div class="form-group col-md-4">
        <label for="State">Dojo Location </label>
        <select name="inputState" class="form-control">
          <option selected>Mauntain View</option>
          <option>Saudi Arabia</option>
          <option>United State</option>

        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="Languge">Your favorite programming</label>
        <select name="inputLanguge" class="form-control">
          <option  value= "java" selected>java</option>
          <option value="js">Java Script</option>
          <option value="python">Python</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="Textarea1">Comment (optional) </label>
        <textarea class="form-control" name="comment" rows="3">comment</textarea><br>
        <button type="submit" class="btn btn-primary">Submit</button>

      </div>
  </form>
</body>
</html>